<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <!-- style for pagination section -->
      <style>
        .center{
            text-align: center;
        }
        .pagination{
            display: inline-block; 
            text-align: center;   
        }
        .pagination a{
            text-decoration: none;
            font: bold 12px "segoe ui",sans-serif;
            color: rgb(44, 43, 43);

            margin: 0 2px;
            padding: 8px 12px;
            float: left;

            transition: 0.8s;
        }
        .pagination a.active{
            color: whitesmoke;
            background-color: rgba(221, 7, 7, 0.813);
            border-radius: 50%;
        }
        .pagination a:hover:not(.active){
            background-color: rgba(50, 133, 242, 0.792);
            color: whitesmoke;
            border-radius: 5px;
        }
    </style>

    <title>{% block title_tag %}This is a blog{% endblock title_tag %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " href="{% url 'post_list' %}">Post List</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link " href="{% url 'post_create' %}">Create Post</a>
              </li>  
              
              <li class="nav-item">
                <a class="nav-link " href="{% url 'category_create' %}">Create Category</a>
              </li> 
              
              <li class="nav-item">
                <a class="nav-link " href="{% url 'profile_update' %}">Profile</a>
              </li> 

              <li class="nav-item">
                <a class="nav-link " href="{% url 'logout' %}">Log Out</a>
              </li> 
            {% else %}
              <li class="nav-item">
                <a class="nav-link " href="{% url 'register' %}">Register</a>
              </li> 

              <li class="nav-item">
                <a class="nav-link " href="{% url 'login' %}">Log In</a>
              </li> 
            {% endif %}
            
            <!-- Dropdown Code -->
            {% if category_list %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for category in category_list %}
                    <li><a class="dropdown-item" href="{% url 'post_list_category' category.name|slugify%}">{{category.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link " href="{% url 'category_list' %}">Categories</a>
              </li> 
            {% endif %}

            {% comment %} code for statistic {% endcomment %}
            {% if request.user.is_superuser%}
              <li class="nav-item">
                <a class="nav-link " href="{% url 'statistic' %}">Statistic</a>
              </li> 
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <div class="container">
      {%block title%}{% endblock title %}
      {% block content %}{% endblock %}
    </div>
    
    <div class="container center">
      <div class="pagination">
          <!-- Pagination code section -->
          {% if is_paginated or page_obj.has_other_pages %}
              {% if page_obj.has_previous %}
                  <a href="?page=1"><<</a>
                  <a href="?page={{page_obj.previous_page_number}}"><</a>
              {% endif %}
              {% for page_num in paginator.page_range %}
                  {% if page_obj.number == page_num %}
                      <a href="?page={{page_num}}" class="active">{{page_num}}</a>
                  {% else %}
                      <a href="?page={{page_num}}">{{page_num}}</a>
                  {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                  <a href="?page={{page_obj.next_page_number}}">></a>
                  <a href="?page={{paginator.num_pages}}">>></a>
              {% endif %}
          {% endif %}
      </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
