{% extends 'blog/base.html' %}
{% block title %}<h1>List of recent posts</h1>{% endblock title %}
{% block content %}
    <br>
    <br>
    <ul>
        {% for post in object_list %}
            <li>
                <a href="{% url 'post_detail' post.pk %}">{{post.title}}</a> | {{post.author}} | <a href="{% url 'post_list_category' post.category|slugify %}">{{post.category}}</a> -------- At {{post.pub_date}}
                {% if user.is_authenticated and request.user.id == post.author.id %}
                    (<small><a href="{% url 'post_update' post.pk %}">Edit</a> | <a href="{% url 'post_delete' post.pk %}">Delete</a></small>)                
                {% endif %}
                <br>
            </li>
            <small>{{post.snippet}}</small>
            {% comment %} {{post.body|slice:":200"|safe}} {% endcomment %}
            <br>
            <br>
        {% endfor %}
    </ul>
{% endblock %}